.row{
    width:25%;
}
.col{
    margin-left: 10%;
}
.dropdown{
    position: relative;
}
.form-group{
    margin-left:10%;
}
.input-group{
    width: 50% !important;
    margin-left: 10%;
}
#inlineFormInputName{
    width: 25%;
    margin-left: 10%;
}
#submit{
    width: 25%;
    margin-left: 10%;
}
body{
     background-image: url('images/img.jpg');
 }